<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag 'uu' %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title%></title>
</head>
<body>
  <div id="container">
    <div id="content">
      <!-- <div id="menu">
        Unicorn College Selftesting Territory
      </div> -->
      <img id="logo" src="/images/banner_unicorn-college.png"/>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>